@charset "utf-8";

/*---------------------------------
BASE
----------------------------------*/
html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: "Noto Sans JP" sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

*, *::before,*::after {
  box-sizing: border-box;
}

a:link, a:hover, a:visited, a:active {
  color: #d03c56;
  text-decoration: none;
}




/*---------------------------------
parts
----------------------------------*/
.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*---------------------------------
header
----------------------------------*/

.header {
  width: 100%;
  padding: 10px 0 10px;
  background-color: #FFFFFF;
}

.logo {
  width: 100%;
  height: 120px;
  background: url("../images/No Friends-logo.png") no-repeat;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.global-nav {
  width: 100%;
  height: 30px;
  list-style: none;
  display: inline-block;
  color: #333;
  padding-left: 18px;
}

.global-nav .nav-item {
  display: inline-block;
  letter-spacing: 1px;
  border-right: 1px solid #333;
  border-spacing: 5px;
}

.global-nav .nav-item active a,
.global-nav .nav-item a:hover {
  color: #d03c56;
}

.global-nav .nav-item a {
  display: inline-block;
  padding: 2px 24px;
  letter-spacing: 1px;
  color: #666;
  transition: 0.1s;
}

.global-nav .nav-item:first-child {
  display: inline-block;
  letter-spacing: 1px;
  border-left: 1px solid #333;
}



/*---------------------------------
main
----------------------------------*/
.main {
  display: block;
  float: left;
  width: 660px;
}

.h2 {
  display: none;
}

.article {
  width: 100%;
  height: 200px;
}

.article .article-list {
  list-style: none;
}

.article .article-item {
  margin-bottom: 30px;
}

.article-list .image {
  float: left;
  width: 25%;
  height: 100%;
}

.article-list .title {
  float: right;
  width: 75%;
  height: 100%;
}

/*---------------------------------
sidemenu
----------------------------------*/
.sidemenu {
  width: 275px;
  float: right;
}





/*---------------------------------
footer
----------------------------------*/
.footer {
  margin-top: 40px;
}