@charset "utf-8";

/*---------------------------------
BASE
----------------------------------*/
html {
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: "Noto Sans JP" sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

*, *::before,*::after {
  box-sizing: border-box;
}

a:link, a:hover, a:visited, a:active {
  color: #d03c56;
  text-decoration: none;
}




/*---------------------------------
parts
----------------------------------*/
.wrapper {
  width: 1200px;
  margin: 30px auto 40px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*---------------------------------
header
----------------------------------*/

.header {
  width: 100%;
  padding: 10px 0 10px;
  background-color: #FFFFFF;
  box-shadow: 0 0 1px 1px #e3e3e3;
}

.logo {
  width: 100%;
  height: 120px;
  background: url("../images/No Friends-logo.png") no-repeat;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.global-nav {
  width: 100%;
  height: 30px;
  list-style: none;
  display: inline-block;
  color: #333;
  padding-left: 18px;
}

.global-nav .nav-item {
  display: inline-block;
  letter-spacing: 1px;
  border-right: 1px solid #333;
  border-spacing: 5px;
}

.global-nav .nav-item active a,
.global-nav .nav-item a:hover {
  color: #d03c56;
}

.global-nav .nav-item a {
  display: inline-block;
  padding: 2px 24px;
  letter-spacing: 1px;
  color: #666;
  transition: 0.1s;
}

.global-nav .nav-item:first-child {
  display: inline-block;
  letter-spacing: 1px;
  border-left: 1px solid #333;
}



/*---------------------------------
main
----------------------------------*/
.main {
  display: block;
  float: left;
  width: 860px;
}

.h2 {
  display: none;
}

.article {
  vertical-align: top;
  position: relative;
  width: 100%;
}

.article .article-list {
  list-style: none;
  font-size: 1.8rem;
}

.article .article-item:nth-of-type(1) {
  margin-bottom: 30px;
  height: 350px;
  border-bottom: 1px solid 	#c0c0c0;
  padding-bottom: 20px;
}

.article .article-item {
  margin-bottom: 30px;
  height: 150px;
  border-bottom: 1px solid 	#c0c0c0;
  padding-bottom: 20px;
}

.article .article-item:nth-of-type(1)
.image {
  float: left;
  width: 50%;
  height: 100%;
}

.article .article-item:nth-of-type(1)
.title {
  float: right;
  position: relative;
  vertical-align: top;
  left: 20px;
  width: 50%;
  height: 100%;
  font-size: 2.8rem;
  letter-spacing: 1px;
  line-height: 42px;
}
.article .article-item:nth-of-type(1)
 .date {
  position: relative;
  top: 300px;
  left: 322px;
}

.article .article-item a {
  letter-spacing: 1px;
  color: #666;
  transition: 0.1s;
}

.article .article-item active a,
.article-date a:hover {
  color: #666;
  transition: 0.5s;
}

.article .article-item active a,
.title a:hover {
  color: #46a7c4;
  transition: 0.5s;
}

.article-list .image {
  float: left;
  width: 25%;
  height: 100%;
  transition: opacity 0.5s;
}
.article-list .image:hover {
  opacity: 0.8;
}

.article-list .image a:hober {
  float: left;
  width: 25%;
  height: 100%;
}

.article-list .pr-img{
  width: 240px;
}

.article-list .title {
  float: right;
  position: relative;
  vertical-align: top;
  left: 20px;
  width: 74%;
  height: 100%;
  letter-spacing: 1px;
  line-height: 30px;
}

.article-list .date {
  position: relative;
  top: 110px;
  left: 532px;
}

/*---------------------------------
main pr-box
----------------------------------*/

.pr {
  display: table;
  width: 100%;
  background-color: #f3f3f3;
  border: solid #ddd 1px;
  padding: 30px;
}

.pr .pr-box {
  display: table-cell;
  width: 50%;
  height: 95px;
  padding-bottom: 30px;
 }

.pr .image {
  width: 240px;
  height: 160px;
}

.pr-box .date {
  position: absolute;
  top: 1400px;
  bottom: 15px;
  padding-top: 30px;
}

.pr .title {
  position: relative;
  font-size: 1.8rem;
  line-height: 31px;
  letter-spacing: 1px;
}

/*---------------------------------
sidemenu
----------------------------------*/
.sidemenu {
  width: 340px;
  float: right;
}

.notices {
  width: 100%;
  min-height: 149px;
  height: 475px;
  padding-left: 45px;
  padding-bottom: 10px;
  transition: opacity 0.15s;
}

.notices .h3 {
  padding: 10px 12px;
  background: #dcdcdc;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.notice-list .notice-item  a {
  letter-spacing: 1px;
  color: #666;
  transition: 0.1s;
}

.notices .notice-item {
  display: table;
  padding-top: 14px;
  padding-bottom: 10px;
  border: 0.1px solid #dcdcdc;
  list-style: none;
  width: 100%;
  word-break : break-all;
  transition: opacity 0.15s;
}

.notices .notice-link {
  transition: opacity 0.15s;
}
.notices .notice-link:hover {
  background:#f3f3f3;
  color: #46a7c4;
  opacity: 0.8;
}

.notice-list .notice-item .image {
  width: 18px;
  height: 18px;
  position: relative;
  left: 15px;
  transform: opacity 0.15s;
}


.notice-list .notice-item .icon {
  display: table-cell;
  border-collapse: separate;
  border-spacing: 5px 5px;
  vertical-align: middle;
}

.notice-list .notice-item  .title {
  display: table-cell;
  line-height: 18px;
  font-size: 1.3rem;
  padding-left: 26px;
  vertical-align: middle;
}
/*---------------------------------
footer
----------------------------------*/
.footer {
  margin-top: 40px;
}