@charset "utf-8";

/*---------------------------------
BASE
----------------------------------*/





/*---------------------------------
parts
----------------------------------*/
.wrapper {
  width: 970px;
  margin: 30px 40px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/*---------------------------------
header
----------------------------------*/
.header {
  width: 100%;
}



/*---------------------------------
main
----------------------------------*/





/*---------------------------------
sidemenu
----------------------------------*/






/*---------------------------------
footer
----------------------------------*/
.footer {
  margin-top: 40px;
}